@-webkit-keyframes Typing {
  0% {content: "D|";}
  2% {content: "De|";}
  4% {content: "Dev|";}
  6% {content: "Deve|";}
  8% {content: "Devel|";}
  10% {content: "Develo|";}
  12% {content: "Develop|";}
  14% {content: "Develope|";}
  16% {content: "Developer|";}
  18% {content: "Developer";}
  20% {content: "Developer|";}
  22% {content: "Developer";}
  24% {content: "Developer|";}
  26% {content: "Develope|";}
  27% {content: "Develop|";}
  28% {content: "Develo|";}
  29% {content: "Devel|";}
  30% {content: "Deve|";}
  31% {content: "Dev|";}
  32% {content: "De|";}
  33% {content: "D|";}
  36% {content: "De|";}
  38% {content: "Des|";}
  40% {content: "Desi|";}
  42% {content: "Desig|";}
  44% {content: "Design|";}
  48% {content: "Designe|";}
  50% {content: "Designer|";}
  52% {content: "Designer";}
  54% {content: "Designer|";}
  55% {content: "Designe|";}
  56% {content: "Design|";}
  57% {content: "Desig|";}
  58% {content: "Desi|";}
  59% {content: "Des|";}
  60% {content: "De|";}
  61% {content: "D|";}
  62% {content: "|";}
  64% {content: "F|";}
  66% {content: "Fr|";}
  68% {content: "Fre|";}
  70% {content: "Free|";}
  72% {content: "Freel|";}
  74% {content: "Freela|";}
  76% {content: "Freelan|";}
  78% {content: "Freelanc|";}
  80% {content: "Freelance|";}
  82% {content: "Freelancer|";}
  84% {content: "Freelancer";}
  86% {content: "Freelancer|";}
  88% {content: "Freelancer";}
  90% {content: "Freelancer|";}
  91% {content: "Freelance|";}
  92% {content: "Freelan|";}
  93% {content: "Freela|";}
  94% {content: "Freel|";}
  95% {content: "Free|";}
  96% {content: "Free|";}
  97% {content: "Fre|";}
  98% {content: "Fr|";}
  99% {content: "F|";}
  100% {content: "|";}
}

@keyframes Typing {
  0% {content: "D|";}
  2% {content: "De|";}
  4% {content: "Dev|";}
  6% {content: "Deve|";}
  8% {content: "Devel|";}
  10% {content: "Develo|";}
  12% {content: "Develop|";}
  14% {content: "Develope|";}
  16% {content: "Developer|";}
  18% {content: "Developer";}
  20% {content: "Developer|";}
  22% {content: "Developer";}
  24% {content: "Developer|";}
  26% {content: "Develope|";}
  27% {content: "Develop|";}
  28% {content: "Develo|";}
  29% {content: "Devel|";}
  30% {content: "Deve|";}
  31% {content: "Dev|";}
  32% {content: "De|";}
  33% {content: "D|";}
  36% {content: "De|";}
  38% {content: "Des|";}
  40% {content: "Desi|";}
  42% {content: "Desig|";}
  44% {content: "Design|";}
  48% {content: "Designe|";}
  50% {content: "Designer|";}
  52% {content: "Designer";}
  54% {content: "Designer|";}
  55% {content: "Designe|";}
  56% {content: "Design|";}
  57% {content: "Desig|";}
  58% {content: "Desi|";}
  59% {content: "Des|";}
  60% {content: "De|";}
  61% {content: "D|";}
  62% {content: "|";}
  64% {content: "F|";}
  66% {content: "Fr|";}
  68% {content: "Fre|";}
  70% {content: "Free|";}
  72% {content: "Freel|";}
  74% {content: "Freela|";}
  76% {content: "Freelan|";}
  78% {content: "Freelanc|";}
  80% {content: "Freelance|";}
  82% {content: "Freelancer|";}
  84% {content: "Freelancer";}
  86% {content: "Freelancer|";}
  88% {content: "Freelancer";}
  90% {content: "Freelancer|";}
  91% {content: "Freelance|";}
  92% {content: "Freelan|";}
  93% {content: "Freela|";}
  94% {content: "Freel|";}
  95% {content: "Free|";}
  96% {content: "Free|";}
  97% {content: "Fre|";}
  98% {content: "Fr|";}
  99% {content: "F|";}
  100% {content: "|";}
}
