:root {
  --primaryColor: #0d6efd;
  --whiteColor: #fff;
}
.border-start {
  border-left: 4px solid var(--primaryColor) !important;
  padding-left: 15px;
}
.comments-img img {
  max-width: 80px;
}
.comments-caption h4 {
  font-size: 1.35rem;
}
.search-post {
  padding: 2rem 0;
}
.search-post .btn,
.search-post input {
  border-radius: 0;
}
.search-post input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.recent-post li::before,
.archives li::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 1px;
  background-color: var(--primaryColor);
  margin-right: 5px;
}
.recent-post li a:hover,
.archives li a:hover {
  color: var(--primaryColor);
}
.tags li {
  display: inline-block;
  background-color: var(--primaryColor);
  padding: 5px 8px;
  margin: 2px;
  border-radius: 15px;
  color: var(--whiteColor);
}
