@media screen and (max-width: 992px) {
  h1 {
    font-size: 3rem;
  }
  .offcanvas .navbar-nav .nav-link::after,
  .offcanvas .nav-tabs .nav-link.active::after {
    width: 0%;
  }
  .offcanvas .nav-link {
    color: #1e1e1e;
  }
  .offcanvas .nav-link:hover,
  .offcanvas .dropdown .dropdown-item:hover {
    color: #0d6efd !important;
  }
  .offcanvas,
  .offcanvas .navbar-nav {
    display: block;
  }
  body:has(.offcanvas .nav-link:focus) .offcanvas {
    display: none;
  }
  #facts {
    padding: 6rem 0 5rem;
  }
  .facts-card {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 768px) {
  #home p {
    font-size: 1.5rem;
  }
  .about-content {
    padding: 3rem 1.25rem !important;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 2.8rem;
  }
  .section-title h3 {
    font-size: 2rem;
  }
  .about-img {
    margin-bottom: 20px;
  }
  .skills {
    margin-bottom: 30px;
  }
  .service-card .icon {
    width: 70px;
    height: 70px;
    font-size: 25px;
  }
  .portfolio-card .card-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .portfolio-card .icon {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}
@media screen and (max-width: 422px) {
  .about-content {
    overflow: hidden;
  }
  .about-img {
    width: 100px;
  }
}
@media screen and (max-width: 768px) {
  .comments-caption h4 {
    font-size: 1.1rem;
  }
  .blockquote {
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 576px) {
  h3,
  .post h3 {
    font-size: 1.3rem;
  }
}
